# Core ML / NLP
sentence-transformers==5.1.0
transformers==4.56.1
torch==2.8.0
faiss-cpu==1.12.0
numpy==1.26.4

# Frontend / App
streamlit==1.49.1

# Utilities
pandas==2.3.2
tqdm==4.67.1
requests==2.32.5
python-dotenv==1.1.1

# Optional for summarization & tokenization
tokenizers==0.22.0
